<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Get The Weather</title>

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
        <link rel="stylesheet" href = "static/css/weather.css" >
    </head>
    <body>

        <div class="container col-sm-6">
            <h1 class="display-3">Get the Weather!</h1>
            <p class="lead">Enter the name of the City.</p>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                <article class="flashMessages">
                    <ul class="flashList">
                        {% for message in messages %}
                            <li><strong>{{ message }}</strong></li>
                        {% endfor %}
                    </ul>
                </article>

            {% endif %}
            {% endwith %}
            <form class="mx-auto" method="POST">
                <div>
                    <input type="text" class="form-control form-control-lg" name="city" id="city" placeholder="Eg. San Francisco, London" >
                </div>
                <button type="submit" class="btn btn-primary" id="submit-btn">Submit</button>
            </form>
            {% block content %}
            <div id="weather">
              <p id="response">{{ strResponse }}</p>
            </div>
            {% endblock %}
        </div>


        <!-- jQuery first, then Tether, then Bootstrap JS. -->
        <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    </body>
</html>
